{
	"Name": "Quest/Loot",
	"NameDialog": "File Name",
	"IdDialog": "ID",
	"Items": [
		{
			"Filename": "{1}",
			"Type": "File",
			"Content": {
			    "ItemType": 16,
			    "Id": "{0}",
			    "Loot": {}
			}
		}
	]
}