<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <GameDatabase.Properties.Settings>
            <setting name="ShipEditorPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ShipEditorSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="ShipEditorHorizontalSplitter" serializeAs="String">
                <value>272</value>
            </setting>
            <setting name="ShipEditorVerticalSplitter" serializeAs="String">
                <value>364</value>
            </setting>
            <setting name="EditorPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditorSize" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ClosingConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
        </GameDatabase.Properties.Settings>
    </userSettings>
</configuration>
